body {
    padding-top: 50px;
}
h1 {
    color: #F9701B;
}
.header {
    color: green;
}
.trans_box {
    background-color:rgba(50, 50, 50, 0.85);
    padding: 2px 20px;
    margin: 20px 0px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    
}